p {
    color: blue;
    font-size: 120%;
    font-style: oblique;
    text-align: center;
}

body {
    background-color: lightblue;
}

.explicar {
    color: red;
    text-align: center;
}

.conteiner {
    position: sticky;
    font-family: monospace;
    color: rgb(84, 36, 36);
    font-size: 80px;
    filter: contrast(30);
    margin-block: 20%;
    border-style: solid;
    border-width: 20px 5px;
    width: 450px; 
    margin: 0cm;
}

.som{
    text-align: center;
    font-size: 100%;
    color: brown;
    width: 300px; 
}
